.erp-logo{
    width: 60px;
    height: 52px;
}
/* for containers */
.container{
    display: flex;
}
/* for alignments */
.flex-center{
    justify-content: center;
}
.flex-start{
    justify-content: left;
}
.flex-end{
    justify-content: right;
}
.flex-space-between{
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
}
.flex-col{
    flex-direction: column;
}

.flex-row{
    flex-direction: row;
}

/* for spacing */
/* top margins */
.erp-mt-0{
    margin-top: 0em;
}
.erp-mt-1{
    margin-top: 1em;
 }
.erp-mt-2{
    margin-top: 2em;
}
.erp-mt-3{
    margin-top: 3em;
}
.erp-mt-4{
    margin-top: 4em;
}
.erp-mt-5{
    margin-top: 5em;
}

/* bottom margins */
.erp-mb-0{
    margin-bottom: 0em;
}
.erp-mb-1{
    margin-bottom: 1em;
 }
.erp-mb-2{
    margin-bottom: 2em;
}
.erp-mb-3{
    margin-bottom: 3em;
}
.erp-mb-4{
    margin-bottom: 4em;
}
.erp-mb-5{
    margin-bottom: 5em;
}

/* start margins */
.erp-ms-0{
    margin-left: 0em;
}
.erp-ms-1{
    margin-left: 1em;
 }
.erp-ms-2{
    margin-left: 2em;
}
.erp-ms-3{
    margin-left: 3em;
}
.erp-ms-4{
    margin-left: 4em;
}
.erp-ms-5{
    margin-left: 5em;
}

/* end margins */
.erp-me-0{
    margin-right: 0em;
}
.erp-me-1{
    margin-right: 1em;
 }
.erp-me-2{
    margin-right: 2em;
}
.erp-me-3{
    margin-right: 3em;
}
.erp-me-4{
    margin-right: 4em;
}
.erp-me-5{
    margin-right: 5em;
}
/* for avatar */
.avatar-s{
    display: block;
    content: " ";
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: var(--white);
}
